*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: lightslategrey;
}

main{
    background-color: gray;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.541);
}